<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Setas - Página Principal</title>
    <!-- Bootstrap CSS -->
    <link rel="icon" href="seta.png" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <style>
        /* Agrega tus estilos personalizados aquí */
        .carousel {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .carousel-item {
            opacity: 0.7; /* Ajusta la opacidad según sea necesario */
        }

        .content {
            position: relative;
            z-index: 1;
            padding-top: 100px; /* Ajusta el padding para que el contenido no se superponga con el carousel */
        }

        .ranking-item {
            list-style-type: none;
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
        }

        .ranking-item:last-child {
            border-bottom: none;
        }
        #sort-select {
        margin-bottom: 20px;
    }
    /* Estilo para las puntuaciones */
    .score-card {
        margin-bottom: 20px;
    }
    </style>
</head>

<body  style="background-image: url(mushrooms-548360_1280.jpg);">
    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Mushtool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home" id="InicioButton">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="Ranking">Ranking<span class="sr-only">(current)</span></a>
                </li>
                <li  class="nav-item active">
                    <button class="btn btn-outline-success" id="signOutButton" type="button">Log out</button>
                </li>
            </ul>
        </div>
    </nav>-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(70, 43, 19);">
        <a class="navbar-brand" href="Inicio.html">
            <img src="unnamed-removebg-preview.png" alt="Mushtool" style="height: 40px; width: auto;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="home.html" id="InicioButton">Administración<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-light" href="Ranking.html">Ranking<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <button class="btn btn-outline-success" id="signOutButton" type="button">Log out</button>
                </li>
            </ul>
        </div>
    </nav>
    <!--<script src="app.js" type="module"></script>-->
    <div class="container content">
        <div class="jumbotron">
            <h1 class="display-4">Ranking de setas</h1>
            <!--<select id="sort-select">
                <option value="score">Puntuación</option>
                <option value="createdBy">Nombre</option>
                <option value="createdAt">Fecha</option>
            </select>
            <div id="tasks-container"></div>-->
            <select id="sort-select" class="form-control">
                <option value="score">Puntuación</option>
                <option value="createdBy">Nombre</option>
                <option value="createdAt">Fecha</option>
            </select>
            
            <div id="tasks-container"></div>
        </div>
    </div>

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="home.html" type="module"></script>
    <script src="auth2.js" type="module"></script>
    <script type="module" src="index.js"></script>
    <script>
        window.onload = function (){
            var roleUser = JSON.parse(sessionStorage.getItem("user-info"));
            if(roleUser === null){
                document.getElementById("InicioButton").style.display = "none";
                document.getElementById("signOutButton").textContent = "Sign In";
                document.getElementById("signOutButton").onclick = function(){
                    window.location.href = "login.html"
                };
            }
            else if(roleUser.role == "Usuario"){
                document.getElementById("InicioButton").style.display = "none";
                document.getElementById("signOutButton").onclick = signOut;
                document.getElementById("signOutButton").onclick = userSignOut;
            }else if(roleUser.role == "Administrador"){
                document.getElementById("InicioButton").style.display = "block";
                document.getElementById("signOutButton").addEventListener("click",signOut);
            }
        }
    </script>
</body>

</html>
